body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    height: 80px;
    z-index: 30;
    transition: background-color 0.10s ease, padding 0.3s ease;
}

.scrol {
    background-color: rgba(255, 255, 255, 0);
    /* Equivalent to bg-gray/50 */
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(229, 231, 235, 1);
    position: fixed;
    /* Make it sticky */
    top: 0;
    /* Stick to the top of the viewport */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #000;
    /* Change text color to black for contrast */
    height: 80px;
    z-index: 100;
    transition: background-color 0.10s ease, padding 0.3s ease, backdrop-filter 0.3s ease, border-bottom 0.3s ease;
}

.logo h1 {
    margin: 50px;
    font-size: 24px;
    color: #fff;

}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 0 35px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;
}

li {
    position: relative;
    right: 160px;

}

li a:hover {
    color: red;
    row-gap: 3px;
    border-bottom: 3px solid red;
}

.cv {
    background-color: #fff;
    color: black;
    height: 30px;
    border-radius: 10px;
    position: relative;
    bottom: 8px;
    right: 60px;
    width: 140px;
    height: 40px;
    cursor: pointer;
}